.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-check-status {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f1f1f1, #3d0311);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0e1a5e, #1a37db); 
    color: #fff;
    border: 2px solid #eee;
    padding: 12px 24px;
    font-size: 1.2rem;
    min-width: 180px;
}

.btn-Ai-analysis {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f1f1f1, #3d0311);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #09270d, #04940b);
    color: #fff;
    border: 2px solid #eee;
    padding: 12px 24px;
    font-size: 1.2rem;
    min-width: 180px;
}

.btn-simulate-attack {
    background: linear-gradient(to right, #8B0000, #DC143C); /* Dark red to crimson gradient */
    color: #fff;
    border: 2px solid #eee;
    padding: 12px 24px;
    font-size: 1.2rem;
    min-width: 180px;
    transition: all 0.3s ease;
}

.btn-hydra {
    background: linear-gradient(to right, #9e6207, #d87b02); /*Dark Yellow to Gold */
    color: #fff;
    border: 2px solid #eee;
    padding: 12px 24px;
    font-size: 1.2rem;
    min-width: 180px;
    transition: all 0.3s ease;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}